@font-face {
  font-family: "KarlaLight";
  src: local("Karla-Light"),
  url('../fonts/Karla/Karla-Light.ttf') format("truetype");
  font-weight: auto
}

@font-face {
  font-family: "KarlaRegular";
  src: local("Karla-Regular"),
  url('../fonts/Karla/Karla-Regular.ttf') format("truetype");
  font-weight: auto
}

@font-face {
  font-family: "OrbitronSemiBold";
  src: local("Orbitron-SemiBold"),
  url('../fonts/Orbitron/Orbitron-SemiBold.ttf') format("truetype");
  font-weight: auto
}


