.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  width: 20vw;
  height: 40vh;
  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background: rgba(255, 255, 255, 0.4);
  &:before {
    content: '';
    border: 0.2vw solid rgba(255, 255, 255, 0.4);
    position: absolute;
    top: -0.3vh;
    bottom: -0.3vh;
    left: -0.2vw;
    right: -0.2vw;
  }
}

.start__btn {
  border: 0;
  outline: none;
  padding: 6vh 8vw;
  background: transparent;
  cursor: pointer;
  font-size: 4vw;
  color: #668C4A;
  transition: .3s;
  &:hover {
    background: #ffffff;
    opacity: 0.3;
    transition: .3s;
  }
}

.grid-item {
  border: 0.1vw dashed rgba(255, 255, 255, 0.4);
  width: 2vw;
  height: 4vh;
}

.is-food {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    background: #FF665A;
    top: 0.2vh;
    bottom: 1vh;
    left: 0.1vw;
    right: 0.1vw;
    width: 1.6vw;
    height: 3.3vh;
    border-radius: 0.2vw;
  }
}

.is-snake {
  background: white;
}
